div.main {
    background-color: #f5e9ee;
    padding: 3vmax;
    border: #577670 dashed thick;
    margin-top: 1vh;
}

#time-ip-address {
    font-size: larger;
    display: inline-block;
    margin: 0;
}

time {
    font-weight: bolder;
    font-size: larger;
    margin-right: 2vmin;
}

button {
    background-color: #4CAF50;
    border-color: #1aa31a;
    border-radius: 2vmin;
    color: snow;
    padding: 2vmin 4vmin;
    font-size: x-large;
    float: end;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
}

button:hover {
    color: #e8e5e5;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:disabled {
    background: #ccc;
    border-color: #808280;
    cursor: wait;
}
