div.time-by-location {
    background-color: #bef6d2;
    padding: 3vmax;
    border: #1b7608 dashed thick;
    margin-top: 1vh;
}

h2 {
    display: inline;
}

select {
    font-size: larger;
    background-color: #f9f9f9;
    width: 14vw;
    border: dashed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

select:focus {outline: 0;}

#drop-down-time-by-location {
    display: inline;
    margin-left: 2vh;
}

#display-time-by-location {
    font-size: larger;
    display: inline;
    margin-left: 1vh;
}
