header {
    border: snow dashed thick;
    text-align: center;
    background-color: rgba(236, 212, 180, 0.51);
    margin-top: 1vh;
}

h1 {
    display: inline-block;
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}
